@{
    ViewData["Title"] = "Camera";
}
<div class="container">
<div class="row">
<div class="col">
<div class="card" style="width: 18rem;">
<img src="~/img/camera_1.jpg" class="card-img-top" alt="...">
<div class="card-body">
<h5 class="card-title">Cannon 500D</h5>
<p class="card-text">Rs. 1000 per day</p>
<a href="#" class="btn btn-primary">Hire Now</a>
</div>
</div>
</div>
<div class="col">
<div class="card" style="width: 18rem;">
<img src="~/img/camera_2.jpg" class="card-img-top" alt="...">
<div class="card-body">
<h5 class="card-title">Cannon 1DX Mark I</h5>
<p class="card-text">Rs. 1000 per day</p>
<a href="#" class="btn btn-primary">Hire Now</a>
</div>
</div>
</div>
<div class="col">
<div class="card" style="width: 18rem;">
<img src="~/img/camera_3.jpg" class="card-img-top" alt="...">
<div class="card-body">
<h5 class="card-title">Cannon 5DX</h5>
<p class="card-text">Rs. 1000 per day</p>
<a href="#" class="btn btn-primary">Hire Now</a>
</div>
</div>
</div>
</div>
<div class="row">
<div class="col">
<div class="card" style="width: 18rem;">
<img src="~/img/camera_3.jpg" class="card-img-top" alt="...">
<div class="card-body">
<h5 class="card-title">Cannon 500D</h5>
<p class="card-text">Rs. 1000 per day</p>
<a href="#" class="btn btn-primary">Hire Now</a>
</div>
</div>
</div>
<div class="col">
<div class="card" style="width: 18rem;">
<img src="~/img/camera_1.jpg" class="card-img-top" alt="...">
<div class="card-body">
<h5 class="card-title">Cannon 500D</h5>
<p class="card-text">Rs. 1000 per day</p>
<a href="#" class="btn btn-primary">Hire Now</a>
</div>
</div>
</div>
<div class="col">
<div class="card" style="width: 18rem;">
<img src="~/img/camera_2.jpg" class="card-img-top" alt="...">
<div class="card-body">
<h5 class="card-title">Cannon 500D</h5>
<p class="card-text">Rs. 1000 per day</p>
<a href="#" class="btn btn-primary">Hire Now</a>
</div>
</div>
</div>
</div>
</div>