@{
    ViewData["Title"] = "Lenses";
}
<div class="container">
    <div class="row">
        <div class="col">
            <div class="card" style="width: 18rem;">
                <img src="~/img/lens_1.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Cannon 8-15mm f/4L</h5>
                    <p class="card-text">Rs. 800 per day</p>
                    <a href="#" class="btn btn-primary">Hire Now</a>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card" style="width: 18rem;">
                <img src="~/img/lens_2.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Canon EF-S 10-22mm f/3.5</h5>
                    <p class="card-text">Rs. 700 per day</p>
                    <a href="#" class="btn btn-primary">Hire Now</a>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card" style="width: 18rem;">
                <img src="~/img/lens_3.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Canon 11-24mm f/4L</h5>
                    <p class="card-text">Rs. 1000 per day</p>
                    <a href="#" class="btn btn-primary">Hire Now</a>
                </div>
            </div>
        </div>
    </div>
    <div class="row mt-4">
        <div class="col">
            <div class="card" style="width: 18rem;">
                <img src="~/img/lens_4.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">
                        Canon RF 5.2mmf/2.8L Dual Fisheye 3D
                        VR
                    </h5>
                    <p class="card-text">Rs. 1000 per day</p>
                    <a href="#" class="btn btn-primary">Hire Now</a>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card" style="width: 18rem;">
                <img src="~/img/lens_5.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Canon 14mmf/2.8L II</h5>
                    <p class="card-text">Rs. 1000 per day</p>
                    <a href="#" class="btn btn-primary">Hire Now</a>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card" style="width: 18rem;">
                <img src="~/img/lens_6.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Canon CN-E14mm T3.1LF Cine</h5>
                    <p class="card-text">Rs. 1000 per day</p>
                    <a href="#" class="btn btn-primary">Hire Now</a>
                </div>
            </div>
        </div>
    </div>
</div>
