@{
    ViewData["Title"] = "Details";
}
<div class="container mt-5">
    <div class="row">
        <div class="col">
            <img src="~/img/camera_1.jpg" style="width: 35rem;" />
            <div class="row mt-2" style="border: 1px solid black; padding: 10px;
border-radius: 10px">
                <div class="col">
                    <img src="~/img/camera_2.jpg" style="width: 15rem;" />
                </div>
                <div class="col">
                    <img src="~/img/camera_3.jpg" style="width: 15rem;" />
                </div>
                <div class="col">
                    <img src="~/img/camera_4.jpg" style="width: 15rem;" />
                </div>
            </div>
        </div>
        <div class="col">
            <h1>Canon RF 800mm f/5.6L IS USM</h1>
            <p>
                The Canon RF 800mm f/5.6L IS USM is a relatively compact, high-quality
                super-telephoto prime for Canon RF-mount mirrorless cameras. Key features
                include:
            </p>
            <ul>
                <li>Powerful, relatively compact super-telephoto prime.</li>
                <li>4.5 stops of optical image stabilization.</li>
                <li>Fast, quiet, and accurate autofocus system</li>
                <li>Compatible with RF 1.4x and 2x teleconverters</li>
            </ul>
            <h1>Specification</h1>
            <table class="table">
                <tbody>
                    <tr>
                        <td>Angle of View</td>
                        <td>3'5</td>
                    </tr>
                    <tr>
                        <td>Aperture Blades</td>
                        <td>9 Round</td>
                    </tr>
                    <tr>
                        <td>Autofocus</td>
                        <td>Autofocus</td>
                    </tr>
                    <tr>
                        <td>Brand</td>
                        <td>Cannon</td>
                    </tr>
                    <tr>
                        <td>Compatibility</td>
                        <td>Full Frame</td>
                    </tr>
                    <tr>
                        <td>Focal Length</td>
                        <td>800.0-800.0</td>
                    </tr>
                </tbody>
            </table>
            <a asp-controller="Home" asp-action="HiringDetails" class="btn btn-primary">Hire</a>
        </div>
    </div>
</div>