@{
    ViewData["Title"] = "Hiring Details";
}



<div class="hire_form container-fluid">
    <h4>Hiring Details</h4>
<form>
  <div class="form-group">
    <label for="exampleInputEmail">Product Name</label>
    <input type="text" class="form-control" placeholder="Add product name">
   
  </div>
  <div class="form-group">
    <label for="exampleInputPassword">Date for hiring</label>
    <input type="date" class="form-control">
  </div>
  <div class="form-group">
    <label for="exampleInputPassword">Quantity</label>
    <input type="number" class="form-control">
  </div>
  <button type="submit" class="btn btn-primary mt-3">Submit</button>
</form>
</div>